.backgroundImg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
}

#welcomeMsg {
  /* z-index: 2; */
  position: relative;
  font-size: larger;
  width: 30%;
  height: 30%;
  height: 15%;
}

#hiMsg {
  /* z-index: 2; */
  position: relative;
  text-align: center;
  background: none;
}
#userName {
  /* z-index: 2; */
  position: relative;
  align-items: center;
  font-size: larger;
  width: 50%;
  margin-left: 45%;
}

#logoutButton {
  position: relative;
  font-size: larger;
  background-color: antiquewhite;
  height: 50px;
  width: 100px;
  margin-left: 80%;
}
