.backgroundImg {
    width: 100%;
    height: 100%;
    background-size: cover; 
    /* background-position: center;  */
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;
    z-index: 1;
}
#login{
    display:block;  
}

.signin{
    height: 80%;
    z-index: 2; 
    font-weight: small;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background:transparent;
}

.signBtn{
    background-color: white;
    border-color: white;
    font-size: large;
    font-weight: bold;
    width: 50%;
    height: 10%;
    text-align: center;
    margin-bottom: 2%;
}

.paragraph{
    width: 10%;
    height:5%;
    font-weight: small;
}

.moveToSignupin{
    text-decoration: underline;
    color: blue;
    background-color: rgb(245, 236, 225);
    width:50%;
    border-color: antiquewhite;
    margin-top: 2%;
    text-align:center ;
    height: 7%;
    font-size: large;
}

.inputlogin{
    align-items: center;
    width: 80%;
    height: 10%;
    justify-content: center;
    margin-top: 3%;
}

.sign{
    height: 90%;
    z-index: 2; 
    font-weight: bold;
    width:50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.signupformdiv{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 70%;
}
.signinformdiv{
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 50%;
}


#signup{
    height: 60%;
    display: none;
}


.inputField{

    width: 100%;
    height: 20%;
    
}
